APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=3000
SITE_PUBLIC_URL=http://localhost:3000
SECRET_KEY=
ALLOWED_ORIGINS=http://localhost:3000

ARUBA_SMTP_USER=info@davideluongo.it
ARUBA_SMTP_PASS=
ARUBA_SMTP_HOST=smtps.aruba.it
ARUBA_SMTP_PORT=465

PAYPAL_ENV=sandbox
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
