Options -Indexes
RewriteEngine On
RewriteRule ^availability-alerts/subscribe$ subscribe.php [L,QSA]
RewriteRule ^send-info-email$ send-info-email.php [L,QSA]
RewriteRule ^create-paypal-order$ create-paypal-order.php [L,QSA]
RewriteRule ^capture-paypal-order$ capture-paypal-order.php [L,QSA]
RewriteRule ^paypal-webhook$ paypal-webhook.php [L,QSA]
